[Unit]
Description=Gunicorn service for Flask App
After=network.target

[Service]
User=centos
Group=centos
WorkingDirectory=/home/centos/Flask-App
ExecStart=/home/centos/Flask-App/flask_env/bin/gunicorn -w 3 -b 0.0.0.0:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
